@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

:not(footer) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.apresentacao {
    height: 90vh;
    width: 100vw;
    border-bottom:10px solid #87a54dc8;
}

.header-apresentacao {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    z-index: 2;
    top: 0;
    background-color: transparent;
    position: fixed;
    transition: all .2s ease;
}

.header-apresentacao figure {
    height: 100%;
    width: 20%;
    display: flex;
}

figure img {
    height: 80%;
    margin: auto;
}

.header-apresentacao nav {
    width: 80%;
    height: 100%;
}

.header-apresentacao nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    font: 15pt helvetica;
    font-weight: 600;
    justify-content: flex-end;
    gap: 4%;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.header-apresentacao li{
    padding: 10px;
    transition: all .2s normal;
}

.header-apresentacao li:hover {
    border-bottom: 2px solid #e5ff9f52;
}

a {
    color: white;
    text-decoration: none;
}

.apresentacao-2 {
    height: 90%;
    width: 100%;
    position: relative;
    top: 0;
    background-image: url('../img/senior-hardworking-farmer-agronomist-in-soybean-field-checking-crops-before-harvest\(3\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    z-index: -1;
}

.apresentacao-2 h2 {
    color: white;
    height: 20%;
    text-transform: uppercase;
    text-align: center;
    font-size: 30pt;
}

.secao-conhecer {
    width: 100%;
    height: 100vh;
    background-color: #553ace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.secao-conhecer h3{
    color: white;
    font-weight: 800;
    font-size: 40pt;


}

@keyframes virarX {
    to {
        top: 20px;
        transform: rotate(-45deg);
    }
}

@keyframes virarX2 {
    to {
        top: 20px;
        transform: rotate(45deg);
    }
}

@keyframes voltarX {
    to {
        top: 10px;
        transform: rotate(0);
    }
}

@keyframes voltarX2 {
    to {
        top: 30px;
        transform: rotate(0);
    }
}

@keyframes abrirMenu {
    to {
        right: 3%;
    }
}

@keyframes fecharMenu {
    to {
        right: -100%;
    }
}

@media (max-width: 600px){

    .header-apresentacao {
        height: 8%;
        justify-content: space-between;
    }

    .header-apresentacao nav {
        width: 40%;
        height: 800%;
        display: flex;
        align-items: flex-end;
    }

    .header-apresentacao nav ul {
        flex-direction: column;
        text-align: center;
        background-color: #369c59;
        height: 43.5%;
        width: 100%;
        position: relative;
        right: -100%;
    }

    .header-apresentacao ul li{
        border-bottom: 2px solid white;
        width: 90%;
        
    }

    .header-apresentacao ul li:hover {
        background-color: #216538ab;
    }

    .menu-botao {
        height: 40px;
        width: 40px;
        top: 20%;
        right: 5%;
        position: absolute;
    }

    .menu-botao:hover{
        cursor: pointer;
    }

    .menu-botao span {
        display: inline-block;
        width: 80%;
        margin-left: 20%;
        height: 10%;
        background-color: rgb(248, 244, 244);
        position: absolute;
    }

    .n1 {
        top: 10px;
    }

    .n2 {
        top: 20px;
        transition: all .2s ease;
    }

    .n3 {
        top: 30px;
    }
}
