body {
  box-sizing: border-box;
  margin: 0;
}
* {
  margin: 0;
}
.textCenter {
  text-align: center;
}
.displayNone {
  display: none;
}
.container {
  width: 90%;
  margin: auto;
}

/* CSS CARDS */
.produtosGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.cardProd {
  transition: all 0.5s ease;
}
.imgCard {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.contentCard {
  height: 150px;
  background-color: rgb(203, 248, 182);
  border-radius: 0 0 20px 20px;
  padding: 5px 15px;
  margin-top: -5px;
}
.contentCard * {
  padding: 0.3vw 0;
}

.cardProd:hover {
  border-radius: 0 20px 20px 20px;
  box-shadow: 5px 5px 5px #999;
  transform: scale(1.01);
}
.quantity {
  width: 25%;
  outline: none;
}

/* SEARCH BAR */
button {
  border: none;
  cursor: pointer;
  background-color: rgba(248, 227, 188, 0.9);
  height: 42px;
}
.searchBarClass button {
  border-radius: 0 10px 10px 0;
}
#searchBar {
  width: 550px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  background-color: rgba(248, 227, 188, 0.9);
  border: none;
  font-size: 20px;
  padding-left: 10px;
}
#searchBar:focus {
  outline: none;
}
.searchArea {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.searchBarClass {
  display: flex;
}
.iconSearch {
  width: 25px;
  height: 22px;
}
#btnSearch:hover {
  background-color: rgba(247, 221, 174, 0.9);
  transition: 0.5s;
}
select {
  background-color: rgb(248, 227, 188);
  border: none;
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  margin: 0;
  box-sizing: border-box;
  appearance: none;
  width: 200px;
}
select.selectOptions {
  background-image: linear-gradient(45deg, transparent 50%, #888 50%),
    linear-gradient(135deg, #888 50%, transparent 50%),
    linear-gradient(to right, #888, #888);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
select.selectOptions:focus {
  background-image: linear-gradient(45deg, #aaa 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #aaa 50%),
    linear-gradient(to right, #888, #888);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

/* INFO SECTION */
#infoProducts {
  width: 80%;
  height: 80px;
  margin: auto;
  background-color: rgba(248, 227, 188, 0.9);
  border-radius: 10px;
  font-size: 1.3em;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#infoProducts p {
  padding: 0 15px;
}

/* BUTTON SEND TO MAP */
.btnSend {
  display: flex;
  justify-content: center;
}
#btnSendMap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  border-radius: 10px;
  height: 70px !important;
  width: 150px;
  border: 1px solid #999;
}
#btnSendMap:hover {
  background-color: rgb(247, 205, 127);
  transition: 0.5s;
}
#btnSendMap a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
/* MEDIA QUERIES*/
@media only screen and (max-width: 900px) {
  .produtosGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #searchBar {
    width: 370px;
  }
  select {
    width: 180px;
  }
  #infoProducts {
    font-size: 1em;
  }
}
@media only screen and (max-width: 700px) {
  .produtosGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #searchBar {
    width: 300px;
  }
  select {
    width: 170px;
  }
  #infoProducts {
    font-size: 1em;
  }
}
@media only screen and (max-width: 576px) {
  .produtosGrid {
    display: grid;
    grid-template-columns: 1fr;
  }
  #searchBar {
    width: 200px;
  }
  select {
    width: 150px;
  }
  #infoProducts {
    font-size: 1em;
  }
}
